body {
    font-family: 'Montserrat', sans-serif;
	background-color: #114232;
}
#logo {
	margin-top: 10vh;
	height: 35vh;
	border: 3px solid white;
}
#intro {
	margin-top: 5vh;
	text-align: center;
	color:white;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
	border-radius: 5%;
}
#cv {
	text-align: center;
	background-color: white;
	margin-top: 5vh;
}
p {
	font-size: 5vh;

}
