* {
	font-family: 'Roboto', sans-serif;
	font-weight:900 !important;
}

#bootstrap-override a{
	color: black;
}
#bootstrap-override a:hover {
	color: #424242
}
body {
    background-image: url(/images/background.jpg) !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.navbar-text {
	
	border: 3px solid black;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 10px;
}
